Test_TextMeshPro/Library/
Test_TextMeshPro/Temp/
ShaderLearn/Library/
ShaderLearn/Temp/
AStarTest/Assembly-CSharp.csproj
AStarTest/Assembly-CSharp-Editor.csproj
AStarTest/AStarTest.sln
AStarTest/Library/
AStarTest/obj/
MatrixTest/Library/
ShaderLearn/.vs/
ShaderLearn/obj/
MirrorImage/.vs/
MirrorImage/Library/shadercompiler-UnityShaderCompiler.exe0.log
MirrorImage/Library/
MirrorImage/obj/
MirrorImage/MirrorImage.sln
MirrorImage/Assembly-CSharp.csproj
MirrorImage/Assembly-CSharp-Editor.csproj
MatrixTest/.vs/
MatrixTest/obj/
Timer/.vs/
Timer/Library/
Timer/obj/
Timer/Assets/Plugins.meta
Timer/Assets/Plugins/Editor.meta
Timer/Assets/Plugins/Editor/JetBrains.meta
Timer/Temp/
